

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
   
    
    background-image: url(./components/img/backgroundimg.png);
    height: 100%;
    background-repeat: no-repeat ;
    background-size: cover;
}

